.twitter-typeahead {
    position: relative;
    display: inline;
}

#query01 {
    position: relative;
    vertical-align: top;
}

.pre1{
    position: absolute; 
    visibility: hidden; 
    white-space: pre; 
    font-family: sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-variant: normal; 
    font-weight: 400; 
    word-spacing: 0px;
    letter-spacing: 0px; 
    text-indent: 0px; 
    text-rendering: auto;
    text-transform: none;

}

.tt-menu {
    position: absolute; 
    top: 100%;
    left: 0px; 
    z-index: 100;
    display: none;
}